ion-view(title='About this Application')
  ion-content(has-header='true', has-tabs='true', padding='true')
    .card
      p
        | This is a sample Vehicle managment project create for manage vehicle.

